*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #C5ADC5;
    display: flex;
    flex-direction: column;
    gap: 100px;
    
}
h2{
    background-color:#B2B5E0 ;
    width: 100%;
    text-align: center;
    padding: 10px;
}
img{
    width: 20rem;
    align-items: center;
}

.caixa{
    background-color: #B2B5E0;
    width: 360px;
    height: 360px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}
.caixa:hover{
    background-color: #7e85eb;
    transition: 0.5s;
    transform: scale(1.1);
    display: flex;
    flex-direction: column;
   
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    gap: 100px;
}
footer{
    background-color: #B2B5E0;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    z-index: 3;
    
}h1{
    text-align: center;
    position: fixed;
    font-family: 'Arial', sans-serif;
    color: #4B0082;
    background-color: #B2B5E0;
    z-index: 3;
}

.h2-fixo {
    position: sticky;
    top: 0;
    background-color: #B2B5E0;
    z-index: 4;
}